@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import "./styles/variables";
@import "./styles/layout";
@import "./styles/header";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: $content-bg;
}

.btn {
  padding: 10px 15px;
  border-radius: 37px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 15px;
  display: block;
}
.primary-btn-color {
  background-color: $base-blue;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.notfound {
}
